
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <link href="~/Content/css/error.css" rel="stylesheet" />
</head>

<body>
    <div id="container">
        <div class="content">
            <h1>404</h1>
            <h3>TÀI KHOẢN HOẶC MẬT KHẨU KHÔNG HỢP LỆ</h3>
            <p>Vui lòng kiểm tra lại</p>
            @Html.ActionLink("Quay lại", "Login", "Home")
            
        </div>
    </div>
</body>

</html>
